.dashboard-heading{
    h1{
        font-size: 3rem;
    }
    span{
        font-size:1.5rem;
    }
}
.dashboard-body{
    margin-top: 2rem;

    .dashboard-row{
        display: flex;
        flex-direction: row;
        align-items: stretch;
    
        .dashboard-summary-donut{
            display:inline-block
        }
        .dashboard-spending-habit{
            margin:2rem;
            text-align: center;
        }
    }

}