.dashboard-body{
    margin-top: 2rem;

    .dashboard-row{
        display: flex;
        flex-direction: row;
    
        .dashboard-summary-donut{
            display:inline-block
        }
        .dashboard-spending-habit{
            margin:2rem;
            text-align: center;
        }
    }

}