.signin-form-container {
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: row;

  .signin-picture {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .signin-form-box {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .signin-logo {
      width: 4rem;
      height: 4rem;
    }

    .signin-form-formbox {
      margin:auto 0;

      .signin-title {
        font-size: 3rem;
      }

      .signinform {
        margin-top: 3rem;

        .signin-forgot{
            margin-top: .5rem;
            display: block;
            text-align: end;
            cursor: pointer;
        }

        .signin-button-container {
            display: block;
            margin: 4rem 2rem;

        }
      }
    }
  }
}
