.donut-container{
    margin-top: 2rem;
    .donut-content{
        padding: 2rem;

        .donut-heading{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .donut-title{
                font-size: 2rem;
            }
        }
        
    }
}