*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  height: 100vh;
  padding: 1rem;
  
  background: url('./assets/sun-tornado.svg');

}

a {
  text-decoration: none;
}
