.pots-page-container{
    width: 100%;
    .pots-page-heading{
        h1{
            font-size: 3rem;
        }
        span{
            font-size:1.5rem;
        }
        .add-btn-container{
            float: right;
            display: inline;
            margin-top:-2rem;
            
            .add-btn-content{
                padding: 0 1rem;
                display: flex;
                align-items: center;

                .material-icons{
                    padding-left: 1rem;
                    font-size: 2rem;
                }
            }
        }
        
    }
    .pots-page-row{
        display: flex;
        flex-direction: row;
    }

}

.pots-cards-container{
    display: flex;
    padding:5rem 2rem;
    flex-direction: row;
    overflow: scroll;
    flex-wrap: nowrap;
    width:100%;
}