@import "../../sass/colors";
@import "../../sass/dimens";

.recent-trans-container {
  flex-grow: 1;
  margin-left: 1.5rem;
  height: 35rem;

  .recent-trans-content {
    background-color: rgba(#f3e5f5, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: $small-border-radius;
    padding: 1rem;

    .recent-title {
      font-size: 2rem;
      text-align: center;
    }
    .btn-container {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }
    .recent-trans-rows-container{
      height: 100%;
      overflow-y: auto;
    }
  }
}

.transaction-row {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: repeat(2, 50%);
  justify-content: start;
  margin-bottom: 1rem;

  .title {
    font-size: 1.8rem;
    text-align: start;
  }

  .amount {
    font-size: 1.8rem;
    text-align: end;

    &.inflow {
      color: $color-green;
    }
    &.outflow {
      color: $color-red;
    }
  }
  .date {
    font-size: 1.2rem;
    text-align: start;
  }
}
