@import "../../sass/colors";
@import "../../sass/dimens";

.recurring-trans-container {
  margin: 2rem 0;

  .recurring-trans-content {
    border-radius: $small-border-radius;
    padding: 1rem;
    height: 100%;

    .recurring-title {
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 1rem;

      .material-icons {
        color: $color-primary;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .btn-container {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }
}

.rec-transaction-row {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: min-content .5fr 1fr min-content .3fr min-content ;

  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgba($color-grey, 0.2);
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba($color-grey, 0.4);
  }

  .material-icons {
    &.in {
      color: $color-green;
    }
    &.out {
      color: $color-red;
    }
  }
  
  .kind{
    grid-column: 1;
    grid-row: 1 / span 2 ;
    align-self: center;
    padding-right: 1rem;
  }

  .recurring{
    text-align: end;
    align-self: center;
    grid-column: 4;
    grid-row: 1/span 2;
  }

  .delete{
    text-align: end;
    align-self: center;
    grid-column: 6;
    grid-row: 1/span 2;
    cursor: pointer;
  }

  .rec-title {
    font-size: 1.8rem;
    text-align: start;
  }

  .treat-date {
    grid-column: 2;
    grid-row: 2;
  }

  .description {
    grid-column: 3;
    grid-row: 1/ span 2;
    align-self: center;
    font-size: 1.5rem;
    padding-left: 2rem;
  }

  .amount {
    font-size: 1.8rem;
    text-align: center;
    align-self: center;
    grid-column: 5;
    grid-row: 1 / span 2 ;

    &.inflow {
      color: $color-green;
    }
    &.outflow {
      color: $color-red;
    }
  }
  .date {
    font-size: 1.2rem;
    text-align: start;
  }
}
